* {
    box-sizing: border-box;
}

.sap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sap .column {
    width: 48%;
    background-color: gray;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.droppable-col {
    width: 100%;
    background-color: gray;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 10px;
    background-color: #1E2125;
    color: white;
    border: 1px solid #353B43;
    padding: 10px;
    border-radius: 7px;
}

.item.dragging {
    background-color: #4D96DA;
}

h3 {
    color: white;
}
